{% extends 'main/layout.html' %}
{% block title %}Сменить пароль{% endblock %}

{% block content %}
<div class="features">
    <div class="container">
        <h1>Сменить пароль</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% load widget_tweaks %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
                {% for error in field.errors %}
                <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-light">Сменить пароль</button>
        </form>
        <p class="auth-link">Вернуться в <a href="{% url 'profile' %}">личный кабинет</a></p>
    </div>
</div>
{% endblock %}
