{% extends 'main/layout.html' %}
{%block title%}Контакты{% endblock %}
{% block content %}
<div class="features">
    <h1>Контакты</h1>
    
    <div class="container">
            <h3><i class="fa-solid fa-phone" style="color: #1e5080;"></i> Телефоны</h3>
            <p>+7 (999) 123-45-67</p>
            <p>+7 (495) 765-43-21</p>
    </div>
        
    <div class="container">
        <h3><i class="fa-solid fa-envelope" style="color: #1e5080;"></i> Email</h3>
        <p>info@bloom.com - общие вопросы</p>
        <p>sales@bloom.com - отдел продаж</p>
        <p>support@bloom.com - поддержка</p>
    </div>
        
    <div class="container">
        <h3><i class="fa-solid fa-map-location-dot" style="color: #1e5080;"></i> Адрес</h3>
        <p>г. Москва, ул. Примерная, д. 123</p>
        <p>БЦ "Блум", 5 этаж</p>
    </div>
        
    <div class="container">
        <h3><i class="fa-solid fa-clock" style="color: #1e5080;"></i> График работы</h3>
        <p>Пн-Пт: 9:00 - 18:00</p>
        <p>Сб-Вс: выходной</p>
    </div>

    <div class="container">
        <h3>Мы в социальных сетях:</h3>
        <p><a href="https://vk.com/" target="_blank"><i class="fa-brands fa-vk"></i> VK</a></p>
        <p><a href="https://web.telegram.org/a/" target="_blank"><i class="fa-brands fa-telegram" style="color: #2a9cd4;"></i> Telegram</a></p>
        <p><a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp" style="color: green;"></i> WhatsApp</a></p>
    </div>
</div>
{% endblock %}